@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: Gilroy;
   src: url(./Gilroy-FREE/Gilroy-ExtraBold.otf);
}

*{
 font-family: Gilroy;
}
::selection{
   color: rgb(243, 194, 35);
} 